<div>
    <h2 translate="sprintApp.relationship.home.title">Relationships</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="relationship.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="sprintApp.relationship.home.createLabel">
                        Create new Relationship
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="groupName"><span translate="sprintApp.relationship.groupName">Group Name</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="groupRelationship"><span translate="sprintApp.relationship.groupRelationship">Group Relationship</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="groupRole"><span translate="sprintApp.relationship.groupRole">Group Role</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="relationship in vm.relationships track by relationship.id">
                <td><a ui-sref="relationship-detail({id:relationship.id})">{{relationship.id}}</a></td>
                <td>{{relationship.groupName}}</td>
                <td>{{relationship.groupRelationship}}</td>
                <td>{{relationship.groupRole}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="relationship-detail({id:relationship.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="relationship.edit({id:relationship.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="relationship.delete({id:relationship.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
