<ul class="list-unstyled">
    <li ng-repeat="attachment in attachments track by $index">
        <strong>{{ attachment.metadati.label || attachment.name}}:</strong>
        <a href
           ng-click="downloadFile('/api/attachments/'+ processInstanceId +'/'+ attachment.name +'/data', attachment.filename, attachment.mimetype)">
            {{attachment.filename}}
        </a>
        <a href ng-if="showHistory === true" ng-click="showFileHistory(attachment.name)">
            <span class="glyphicon glyphicon-time" title="Cronologia"></span></a>
        <a href ng-if="canPublish || canUpdateAttachments" ng-click="showFileActions(attachment)">
            <span class="glyphicon glyphicon-cog" title="Azioni"></span></a>
        <span ng-repeat="stato in attachment.metadati.stati">
        <span class="label label-primary label-{{stato}}">{{stato}}</span>
        </span>

        <p has-authority="ROLE_ADMIN">{{ attachment | json }}</p>


    </li>
</ul>

<button class="btn btn-xs btn-primary" ng-if="canUpdateAttachments" ng-click="addFile()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Carica un ulteriore documento
</button>

<script type="text/ng-template" id="fileHistoryModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Storia del file {{name}}</h4>
    </div>
    <div class="modal-body">

        <ul>
            <li ng-repeat="file in fileHistory">
                <strong>{{file.time | dataora}}:</strong> <br>
                L'utente <strong>{{file.username}}</strong> <br>
                <span ng-if="file.metadati.azione">ha compiuto l'azione <strong>{{file.metadati.azione}}</strong><br></span>
                sul file <a href ng-click="downloadFile(file.url, file.filename, file.mimetype)">{{file.filename}}</a>
                <span ng-repeat="state in file.metadati.stati"
                      class="label label-primary label-{{state}}">{{state}}</span> <br>
                <span ng-if="file.taskName">nell'ambito del task <strong>{{file.taskName}}</strong></span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$dismiss()">Chiudi</button>
    </div>
</script>