<ul class="list-unstyled">
    <li ng-repeat="attachment in attachments track by $index">
        <strong>{{ attachment.label || attachment.name}}:</strong>
        <a href
           ng-click="downloadFile('/api/attachments/'+ processInstanceId +'/'+ attachment.name +'/data', attachment.filename, attachment.mimetype)">
            {{attachment.filename}}
        </a>
        <a href ng-if="attachment.mimetype === 'application/pdf'" ng-click="viewPdf(attachment)">
            <span class="glyphicon glyphicon-search" title="Visualizza"></span></a>        
        <a href ng-if="showHistory === true" ng-click="showFileHistory(attachment.name)">
            <span class="glyphicon glyphicon-time" title="Cronologia"></span></a>
        <a href ng-if="canPublish || canUpdateAttachments" ng-click="showFileActions(attachment)">
            <span class="glyphicon glyphicon-cog" title="Azioni"></span></a>

        <span class="label label-primary" ng-if="attachment.pubblicazioneUrp">Pubblicabile Urp</span>
        <span class="label label-primary" ng-if="attachment.pubblicazioneTrasparenza">Pubblicabile in Trasparenza</span>
        <span class="label label-primary" ng-if="attachment.protocollo">Protocollo ({{attachment.numeroProtocollo}})</span>

        <span ng-repeat="stato in attachment.stati">
            <span class="label label-primary label-{{stato}}">{{stato}}
                <span ng-if="stato == 'Protocollato'"> ({{attachment.numeroProtocollo}})</span>
            </span>
        </span>

        <p has-authority="ROLE_ADMIN">{{ attachment | json }}</p>


    </li>
</ul>

<button class="btn btn-xs btn-primary" ng-if="canUpdateAttachments" ng-click="addFile()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Carica un ulteriore documento
</button>

<script type="text/ng-template" id="fileHistoryModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Storia del file {{name}}</h4>
    </div>
    <div class="modal-body">

        <ul>
            <li ng-repeat="file in fileHistory">
                <strong>{{file.time | dataora}}:</strong> <br>
                L'utente <strong>{{file.username}}</strong> <br>
                <span ng-if="file.metadati.azione">ha compiuto l'azione <strong>{{file.metadati.azione}}</strong><br></span>
                <span ng-if="file.metadati.azione == 'SostituzioneProtocollo'">con motivo <strong>{{file.metadati.motivoSostituzione}}</strong><br></span>
                sul file <a href ng-click="downloadFile(file.url, file.filename, file.mimetype)">{{file.filename}}</a>
                <span ng-repeat="state in file.metadati.stati">
                    <span class="label label-primary label-{{state}}">{{state}}
                        <span ng-if="stato == 'Protocollato'"> ({{file.numeroProtocollo}})</span>
                    </span>
                </span> <br>
                <span ng-if="file.taskName">nell'ambito del task <strong>{{file.taskName}}</strong></span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$dismiss()">Chiudi</button>
    </div>
</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Visualizzazione del file {{pdfTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body" ng-show="!loading">

        <div>
            <ng-pdf template-url="app/components/attachments/pdfviewer.html" scale="page-fit"></ng-pdf>
        </div>

    </div>
    <div class="modal-body" id="modal-body-loading" ng-show="loading">
        <div class="text-center"><h3>Caricamento</h3></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalInstance.close()">OK</button>
    </div>
</script>