<div class="modal-header">
  <h4 class="modal-title">Azioni sul file {{vm.attachment.name}}</h4>
</div>
<div class="modal-body">

  <div class="row" ng-if="canPublish">
    <div class="col-md-12">
      <h4>Pubblica Documento in Trasparenza</h4>
      <div class="btn-group">
        <p>
          Stato attuale del documento:
          <span ng-if="vm.attachment.stati.indexOf('PubblicatoTrasparenza') == -1">Non</span>
          Pubblico in Trasparenza
        <p>
          <button type="button" ng-if="vm.attachment.stati.indexOf('PubblicatoTrasparenza') == -1" class="btn btn-success btn-sm" ng-click="pubblicaDocumentoTrasparenza(true)"><span class="glyphicon glyphicon-eye-open"></span> Pubblica in Trasparenza</button>
          <button type="button" ng-if="vm.attachment.stati.indexOf('PubblicatoTrasparenza') !== -1" class="btn btn-danger btn-sm" ng-click="pubblicaDocumentoTrasparenza(false)"><span class="glyphicon glyphicon-eye-close"></span> Rimuovi da Trasparenza</button>
      </div>
    </div>
  </div>
  <div class="row" ng-if="canPublish">
    <div class="col-md-12">
      <h4>Pubblica Documento in Urp</h4>
      <div class="btn-group">
        <p>
          Stato attuale del documento:
          <span ng-if="vm.attachment.stati.indexOf('PubblicatoUrp') == -1">Non</span>
          Pubblico in Urp
        <p>
          <button type="button" ng-if="vm.attachment.stati.indexOf('PubblicatoUrp') == -1" class="btn btn-success btn-sm" ng-click="pubblicaDocumentoUrp(true)"><span class="glyphicon glyphicon-eye-open"></span> Pubblica in Urp</button>
          <button type="button" ng-if="vm.attachment.stati.indexOf('PubblicatoUrp') !== -1" class="btn btn-danger btn-sm" ng-click="pubblicaDocumentoUrp(false)"><span class="glyphicon glyphicon-eye-close"></span> Rimuovi da Urp</button>
      </div>
    </div>
  </div>
  <div class="row" ng-if="canUpdateAttachments">
    <div class="col-md-12">
      <h4>Aggiorna Documento</h4>
      <form novalidate class="flows-form" name="aggiornaDocumentoForm" ng-submit="submitAggiornaDocumento(picFile)">

        <fileinput name="{{vm.attachment.name}}" label="{{vm.attachment.label}}" multiple=false cnr-required=true />
        <button class="btn btn-primary" type="submit" ng-disabled="processDefinitionForm.$invalid">
          invia
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

      </form>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span> Chiudi</button>
</div>
