<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <h3>Manualistica</h3>
        <ul>
            <!--<li><a href="https://doc-cnr.si.cnr.it/rest/content?nodeRef=e6765d0c-eca5-4503-93ca-b5dde27ea68a">Manuale utente Flusso Acquisti</a></li>-->
            <li ng-repeat="manuale in vm.manuali">
                <a ng-click="downloadManuale(manuale)">
                    {{manuale}}
                </a>
            </li>
            <li>
                <a href="https://e-learning.formazione.cnr.it/course/view.php?id=5">Video Tutorial</a>
            </li>
        </ul>
        <h3>Faq</h3>
        <ul>
            <li ng-repeat="faq in vm.faqs">
                {{faq.testo}}
            </li>

        </ul>

    </div>

</div>