<li ng-if="value || rows">
    <span ng-switch="type">
        <span ng-switch-when="table">
            <strong>{{label}}</strong>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <th ng-repeat="column in columns | inTable">{{column.label}}</th>
                    <!--aggiungo una colonna per i dettagli-->
                    <div ng-show="details">
                        <th>Dettagli</th>
                    </div>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="row in righe">
                    <td ng-repeat="column in columns | inTable">{{ row[column.field] }}</td>
                    <!--aggiungo il bottone per i dettagli-->
                    <div ng-show="details">
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="detailsModal(row)"
                                    title="dettagli tabella">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </button>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </span>
        <span ng-switch-when="wysiwyg">
            <strong>{{label}}:</strong><div ng-bind-html="value"></div>
        </span>
        <span ng-switch-default><strong>{{label}}:</strong> {{value}}</span>
    </span>
</li>