<li ng-if="value || rows">
  <span ng-switch="type">

    <span ng-switch-when="table">
      <strong>{{label}}</strong>
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th ng-repeat="column in columns">{{column.label}}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="row in righe">
            <td ng-repeat="column in columns">{{ row[column.field] }}</td>
          </tr>
        </tbody>

      </table>
    </span>

    <span ng-switch-default><strong>{{label}}:</strong> {{value}}</span>

  </span>
</li>