/target/
/node_modules/
/bower_components/

/.project
/.settings/
/.classpath
.classpath
.project
/DB-H2_OLD/
/.xml/
/.bpmn/
/node/
/${project.testresult.directory}/
/as1dock_2.backup.sql
/DB-H3/
.idea/
/sprint-flows.iml

/bin/
/.apt_generated/
.dbeaver