<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notifica relativa ad un flusso</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1> Notifica relativa al flusso <span th:text="${title}">NOME FLUSSO</span></h1>
        <span th:if="${titolo}">
        <br>
            <i>dal titolo: "<span th:if="${titolo}">"</i>
        <hr>
        <hr>
        <p>
            Gentile <span th:text="${username}">nome.cognome</span><br>
            <span th:if="${groupname}">
                Riceve questa notifica in quanto parte del gruppo <bold th:text="${groupname}">NOME GRUPPO</bold></span>
        <p>
            E' successo qualcosa per cui e' giusto che le arrivi la notifica.
        <p th:if="${commento}">
            Il compito presenta la seguente nota di commento:
            <pre th:text="${commento}">Commento</pre>
        <hr>

        <p> Data di Scadenza <bold th:text="${scadenza}">SCADENZA FLUSSO</bold></p>
        <p> Priorita <bold th:text="${priorita}">CODICE VERDE</bold></p>

        <hr>
        <footer style="color: dark-gray; font-size: 0.8em;">
          <p>Si prega di non rispondere alla presente mail generata automaticamente dal sistema.
          <p>Accedere alla scrivania digitale utlizzando il seguente il link:<br>
            https://scrivaniadigitale.cnr.it
          <p>Cordiali saluti,<br>CNR - Scrivania Digitale
        </footer>
    </body>
</html>