<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notifica Scrivania Digitale</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1> Notifica relativa ai flussi Smart Working </h1>
        <hr>
        <p> 
            Gentile <span th:text="${username}">nome.cognome</span><br>

            Si notifica che i seguenti flussi Smart Working sono ancora in corso:
            <ul th:each="instance: ${instanceList}">
                <li th:text="${instance}">instance</li>
            </ul>
        
        <hr>        
        <footer style="color: dark-gray; font-size: 0.8em;">
          <p>Si prega di non rispondere alla presente mail generata automaticamente dal sistema.
          <p>Accedere alla scrivania digitale utlizzando il seguente il link:<br>
		  <a href="https://nuovascrivaniadigitale.cnr.it">Nuova Scrivania Digitale</a>           
          <p>Cordiali saluti,<br>CNR - Scrivania Digitale
        </footer>
    </body>
</html>
