<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Un nuovo compito è stato assegnato al gruppo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1> Un nuovo compito è stato assegnato al gruppo <span th:text="${groupname}">NOME GRUPPO</span></h1>
        <hr>
        <p>
            Gentile <span th:text="${username}">nome.cognome</span>
        </p>
        <p>
            Il compito
            <strong th:text="${taskName}"></strong>
            per il flusso <strong th:text="${businessKey}">TITOLO FLUSSO</strong>
            <span th:if="${businessKey}">
              <br><i>dal titolo: "<bold th:text="${titolo}">OGGETTO FLUSSO</bold>"</i></span>
        <hr>
            è stato assegnato al gruppo <strong th:text="${groupname}">NOME GRUPPO</strong>
        <p th:if="${commento!=null and commento!= ''}">
            Il compito presenta la seguente nota di commento:
            <pre th:text="${commento}">Commento</pre>
        <hr>

        <p th:if="${scadenza}"> Data di Scadenza <strong th:text="${scadenza}">SCADENZA FLUSSO</strong></p>
        <p th:if="${priorita}"> Priorita <strong th:text="${priorita}">CODICE VERDE</strong></p>

        <hr>
        <footer th:if="${profile == 'oiv'}">
          <p>Si prega di non rispondere alla presente mail generata automaticamente dal sistema.
          <p>Accedere alla scrivania digitale utlizzando il seguente il link:<br>
            https://scrivaniadigitale.palazzochigi.it
          <p>Cordiali saluti,<br>DIPARTIMENTO FUNZIONE PUBBLICA - Scrivania Digitale
        </footer>
        
        <footer th:if="${profile != 'oiv'}">
          <p>Si prega di non rispondere alla presente mail generata automaticamente dal sistema.
          <p>Accedere alla scrivania digitale utlizzando il seguente il link:<br>
            https://nuovascrivaniadigitale.cnr.it
          <p>Cordiali saluti,<br>CNR - Scrivania Digitale
        </footer>
    </body>
</html>