<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <h2 th:if="${profile == 'iss'}">Scrivania Digitale Istituto superiore di sanita'</h2> 
        <title>Task Completato</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear <span th:text="${user.login}">
        </p>
        <p>
            Scriviamo per informare che il task <span th:text="${user.login}"></span> del processo <span th:text="${user.login}"></span> &eacute; stato completato
        </p>
        <footer th:if="${profile == 'iss'}">
          <p>Si prega di non rispondere alla presente mail generata automaticamente dal sistema.
          <p>Accedere alla scrivania digitale utlizzando il seguente il link:<br>
            https://scrivaniadigitale.iss.it
          <p>Cordiali saluti,<br>ISS - Scrivania Digitale
        </footer>
    </body>
</html>
