<div>
    <h2>User Memberships del gruppo {{vm.displayName}}</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-membership-new({groupname:vm.groupname})">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="sprintApp.userMembership.home.createLabel">
                        Create new User Membership
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="username">
                    <span translate="sprintApp.membership.user">Username</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="grouprole">
                    <span translate="sprintApp.membership.grouprole">Grouprole</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>


            <tr ng-repeat="membership in vm.memberships">
                <td>{{membership.user.login}}</td>
                <td>{{membership.grouprole}}</td>
                <td class="text-right">
                    <div ng-if="membership.id && vm.modify" class="btn-group flex-btn-group-container">
                        <button ui-sref="userMembershipDelete({id:membership.id, groupname: membership.cnrgroup.name})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
