<div ng-cloak>
  <div class="row form-group">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" ng-class="{'active': vm.searchTerms.active}">
          <a class="pointer" ng-click="vm.searchTerms.active = true; search()" data-toggle="tab">
            <h3>
              <i class="glyphicon glyphicon-edit"></i>
                {{$rootScope.isTaskQuery ? 'Task' : 'Flussi'}} attivi
            </h3>
          </a>
        </li>
        <li role="presentation" ng-class="{'active-info': !vm.searchTerms.active}">
          <a class="pointer" ng-click="vm.searchTerms.active = false; search()" data-toggle="tab">
            <h3>
              <i class="glyphicon glyphicon-check"></i>
                {{$rootScope.isTaskQuery ? 'Task' : 'Flussi'}} terminati
            </h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 padding-top">
        <div>
            <h4>Search type</h4>
            <div>
                <toggle-switch
                        ng-model="$rootScope.isTaskQuery"
                        ng-click="switch(!isTaskQuery)"
                        on-label="Task"
                        off-label="Flussi"
                        class="switch-large">
                </toggle-switch>
            </div>
        </div>

        <br>
      <div>
        <h4>Ordinamento temporale</h4>
        <div>
            <button class="btn btn-default btn-block margin-top-20"
                    ng-click="vm.searchTerms.order ===  'ASC' ?  vm.searchTerms.order  = 'DESC' : vm.searchTerms.order  = 'ASC'; search()">
            <span class="glyphicon glyphicon-sort"></span>
            {{vm.searchTerms.order === 'ASC' ? 'Crescente' : 'Descrescente'}}
          </button>
        </div>
      </div>

      <br>
      <h4>Tipologie</h4>
        <div id="tipologieDiv">
            <workflow-types process-definitions="wfDefsAll" filters="true"></workflow-types>
        </div>
      <br>
      <br>
      <button ng-click="search()" class="btn btn-primary">
        <span class="glyphicon glyphicon-filter"></span>
        Filtra
      </button>
      <button ng-click="exportCsv()" class="btn btn-info">
        <span class="glyphicon glyphicon-export"></span>
        Esporta Csv
      </button>
    </div>


      <div id="resultDiv" class="col-md-9">
          <h3>{{$rootScope.isTaskQuery ? 'Task' : 'Flussi'}} {{vm.active ? 'attivi' : 'terminati'}}</h3>
          <div ng-show="!$rootScope.isTaskQuery">
              <process-list processes="vm.processInstances" paging="paging"></process-list>
              <!--paginazione Process Instances-->
              <div class="text-center">
                  <jhi-item-count page="vm.page" total="vm.queryCount"
                                  items-per-page="vm.itemsPerPage"></jhi-item-count>
                  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                  ng-change="vm.transition()"></uib-pagination>
              </div>
          </div>
          <div ng-show="$rootScope.isTaskQuery">
              <task-list tasks="vm.taskInstances" action-buttons="false"></task-list>
              <!--paginazione Task-->
              <div class="text-center">
                  <jhi-item-count page="vm.page" total="vm.queryCount"
                                  items-per-page="vm.itemsPerPage"></jhi-item-count>
                  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                  ng-change="vm.transition()"></uib-pagination>
              </div>
          </div>
    </div>
  </div>
</div>
<pre ng-show="development">
  {{vm.searchTerms | json}}
</pre>