<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

<!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
<!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>
-->

    <logger name="it.cnr.si" level="#logback.loglevel#"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.cache" level="TRACE"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="sun.net" level="INFO"/>
    <!-- commentare (o impostare a DEBUG) per avere dettagli del db di activiti -->
    <logger name="org.activiti.engine" level="INFO"/>
    <logger name="org.activiti.spring" level="INFO"/>
    <logger name="org.springframework.security.access.vote" level="DEBUG" />
    
	<!-- <logger name="org.activiti.engine.impl.persistence.entity" level="DEBUG" /> -->

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="#logback.loglevel#">
        <appender-ref ref="CONSOLE"/>
    </root>

<!--
    <springProperty scope="context" name="graylog.host" source="graylog.host"/>
    <springProperty scope="context" name="graylog.port" source="graylog.port"/>
    <springProperty scope="context" name="graylog.loglevel" source="graylog.loglevel"/>

    <if condition='isDefined("graylog.host")'>
        <then>
            <appender name="gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
                <host>udp:${graylog.host}</host>
                <port>${graylog.port}</port>
                <version>1.1</version>
                <extractStackTrace>true</extractStackTrace>
                <filterStackTrace>true</filterStackTrace>
                <mdcProfiling>true</mdcProfiling>
                <timestampPattern>yyyy-MM-dd HH:mm:ss,SSSS</timestampPattern>
                <maximumMessageSize>8192</maximumMessageSize>

                <additionalFields>tag=sprint-flows
                </additionalFields>
                <additionalFieldTypes>tag=String</additionalFieldTypes>

                <mdcFields>mdcField1,mdcField2</mdcFields>
                <dynamicMdcFields>mdc.*,(mdc|MDC)fields</dynamicMdcFields>
                <includeFullMdc>true</includeFullMdc>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>${graylog.loglevel}</level>
                </filter>
            </appender>

            <root level="INFO">
                <appender-ref ref="gelf"/>
            </root>
        </then>
    </if>
-->
</configuration>
