
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCnrauthorityLabel" translate="sprintApp.cnrauthority.home.createOrEditLabel">Create or edit a Cnrauthority</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cnrauthority.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cnrauthority.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sprintApp.cnrauthority.parentid" for="field_parentid">Parentid</label>
            <input type="text" class="form-control" name="parentid" id="field_parentid"
                    ng-model="vm.cnrauthority.parentid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sprintApp.cnrauthority.display_name" for="field_display_name">Display Name</label>
            <input type="text" class="form-control" name="display_name" id="field_display_name"
                    ng-model="vm.cnrauthority.display_name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sprintApp.cnrauthority.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.cnrauthority.name"
                     />
        </div>

        <div class="form-group">
            <label translate="sprintApp.cnrauthority.authority" for="field_authority">Authority</label>
            <select class="form-control" id="field_authority" name="authority" ng-model="vm.cnrauthority.authority" ng-options="authority as authority.id for authority in vm.authorities | orderBy:'id' track by authority.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
