<div ng-show="processes" class="margin-bottom-helper tasks">
    <div class="row vertical-align-center" ng-repeat="process in processes">
        <div class="col-md-10">
            <a ng-href="#/details?processInstanceId={{process.id}}"
               title="dettagli del flusso {{process.id}}">
                <small class="label"
                       ng-class="{'label-info' : process.endTime, 'label-primary' : !process.endTime}">
                    {{process.processDefinitionId}}
                </small>
                <br>
            </a>
            <div>
                <div ng-show="process.variabili.title">
                    <strong>Identificativo flusso:</strong> {{process.variabili.title}} <br>
                </div>
                <div ng-show="process.variabili.titoloIstanzaFlusso">
                    <strong>Titolo flusso:</strong> {{process.variabili.titoloIstanzaFlusso}} <br>
                </div>
                <div ng-show="process.variabili.startDate">
                    <strong>Avviato da </strong>
                    <em> {{process.variabili.initiator}} </em>
                    <strong> il </strong>
                    <em>{{process.variabili.startDate | date}}</em> <br>
                </div>
                <div ng-show="process.variabili.taskId">
                    <strong>Id del compito in esecuzione:</strong> {{process.variabili.taskId}} <br>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-right vertical-align-center">
            <div class="btn-group" role="group" aria-label="Left Align">
                <a class="btn btn-default btn-sm" ng-href="#/details?processInstanceId={{process.id}}">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> dettagli
                </a>
            </div>
        </div>
    </div>
</div>
<div class="loading-spiner-holder" style="text-align: center" data-loading>
    <div class="loading-spiner spinner-loader"></div>
</div>
<div ng-show="paging" style="text-align: center">
    <paginator paging="paging"></paginator>
</div>
<span ng-show="processes.length == 0">nessun Flusso</span>
