<fieldset>
    <legend ng-if="legend">{{legend}}
        <span class="glyphicon glyphicon-question-sign" ng-show="item.placeholder" data-toggle="tooltip" data-placement="top" title="{{item.placeholder}}"></span>
        <span class="pull-right" ng-if="multiple">
          <button type="button" class="btn btn-success btn-xs" ng-click="addRow()" ng-disabled="ngModel.length >= max">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="removeRow()" ng-disabled="ngModel.length <= min">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </span>
    </legend>

    <div class="well" ng-if="rows.length == 0">
        Usare il bottone
        <button type="button" class="btn btn-success btn-xs" ng-click="addRow()" ng-disabled="ngModel.length >= max">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
        per aggiungere eventuali altri allegati.
    </div>

    <div class="well" ng-repeat="row in rows track by $index"
         ng-init="initRow(row, $index);">

        <div class="form-group" ng-if="label === undefined">
            <label>Tipo Documento</label>
            <input type="text" class="form-control" ng-model="$parent.attachments[row.rowname].label" required>
        </div>
        <div class="form-group" ng-if="label !== undefined" ng-init="$parent.attachments[row.rowname].label = label">
            <h3>{{label}}</h3>
        </div>

        <div ng-if="metadatiPubblicazione || row.modifica">
            <div class="row form-group">
                <div class="col-md-5">
                    Pubblicazione in URP
                </div>
                <div class="col-md-7">
                    <toggle-switch
                        class="switch-success btn-group btn-group-justified"
                        ng-model="$parent.attachments[row.rowname].pubblicazioneUrp"
                        off-label="Non pubblicare"
                        on-label="Pubblica"
                        is-disabled="metadatiDisabilitati || pubblicazioneUrpDisabled">
                    </toggle-switch>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-5">
                    Pubblicazione in Trasparenza
                </div>
                <div class="col-md-7">
                    <toggle-switch
                        class="switch-success btn-group btn-group-justified"
                        ng-model="$parent.attachments[row.rowname].pubblicazioneTrasparenza"
                        off-label="Non pubblicare"
                        on-label="Pubblica"
                        is-disabled="metadatiDisabilitati || pubblicazioneTrasparenzaDisabled">
                    </toggle-switch>
                </div>
            </div>
        </div>

        <div ng-if="metadatiProtocollo || row.modifica">
            <div class="row form-group">
                <div class="col-md-5">
                    Protocollo
                </div>
                <div class="col-md-7">
                    <toggle-switch
                        class="btn-group btn-group-justified"
                        ng-model="$parent.attachments[row.rowname].protocollo"
                        off-label="Non Protocollato"
                        on-label="Protocollato"
                        is-disabled="metadatiDisabilitati || protocolloDisabled">
                    </toggle-switch>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-5" ng-if="$parent.attachments[row.rowname].protocollo">
                    <label>Data protocollo</label>
                    <input type="date" class="form-control" ng-model="$parent.attachments[row.rowname].dataprotocollo" ng-readonly="metadatiDisabilitati || protocolloDettagliDisabled" required>
                </div>
                <div class="col-md-7" ng-if="$parent.attachments[row.rowname].protocollo">
                    <label>Numero protocollo</label>
                    <input type="text" class="form-control" ng-model="$parent.attachments[row.rowname].numeroprotocollo" ng-readonly="metadatiDisabilitati || protocolloDettagliDisabled" required>
                </div>
            </div>

        </div>


        <a
                href
                ng-click="downloadFile('/api/attachments/task/'+ taskId +'/'+ $parent.attachments[row.rowname].name +'/data', $parent.attachments[row.rowname].filename, $parent.attachments[row.rowname].mimetype)" >
            {{$parent.attachments[row.rowname].filename}}
        </a>

        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-sm"
                        ng-class="{'btn-success': $parent.attachments[row.rowname].data, 'btn-info': !$parent.attachments[row.rowname].data}"
                        ng-model="$parent.attachments[row.rowname].data"
                        ngf-select
                        name="$parent.attachments[row.rowname].data"
                        accept="{{accept}}"
                        ngf-multiple="false"
                        ng-required="cnrRequired" >
                    <span ng-show="!$parent.attachments[row.rowname].data" class="glyphicon glyphicon-upload"></span>
                    <span ng-show="$parent.attachments[row.rowname].data" class="glyphicon glyphicon-repeat"></span>
                    <span ng-show="!$parent.attachments[row.rowname].data">Seleziona File</span>
                    <span ng-show="$parent.attachments[row.rowname].data">Aggiorna</span>
                </button>
                <span ng-show="$parent.attachments[row.rowname].data">
                      {{$parent.attachments[row.rowname].data.name}}
                      <a href ng-click="$parent.attachments[row.rowname].data = undefined"><span
                              class="glyphicon glyphicon-remove" title="Rimuovi"></span></a>
                  </span>
            </div>
        </div>

    </div>
</fieldset>

<hr ng-if="multiple">
