<label for="attrs.id">{{attrs.label}}</label>
<a
  href
  ng-click="downloadFile('/api/attachments/task/'+ vm.data.taskId +'/'+ vm.attachments[attrs.name].name +'/data', vm.attachments[attrs.name].name, vm.attachments[attrs.name].mimetype)" >
    {{vm.attachments[attrs.name].filename}}
</a>
<input type="file"
      ng-model="$parent.vm.data[attrs.name]"
      ngf-select
      name="$parent.vm.data[attrs.name]"
      accept="{{attrs.accept}}"
      ngf-multiple="{{attrs.ngfMultiple}}"
      ng-required="attrs['required']" />

<!-- <pre>{{attrs|json}}</pre> -->