
<div class="row">
  <label for="documentiPrincipali">Documenti Principali</label>
  <input type="file" id="documentiPrincipali" class="form-control">
</div>

<div class="row">
  <label for="documentiAllegati">Documenti Allegati</label>
  <input type="file" ng-model="documentiAllegati" id="documentiAllegati" class="form-control">
</div>

<div class="row">
  <label for="titolo">Titolo</label>
  <input type="text"  ng-model="$parent.vm.data.titolo" id="titolo" class="form-control">
</div>

<div class="row">
  <label for="commento">Commento</label>
  <textarea type="textarea" ng-model="commento"  id="commento" class="form-control" rows="3" />
</div>

<div class="row">
  <div class="col-md-6">
    <label for="datada">Data Da</label>
    <input type="date" ng-model="datada" id="datada" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="dataa">Data A</label>
    <input type="date" ng-model="dataa" id="dataa" class="form-control">
  </div>
</div>

<div class="row">
  <label for="numerogiorni">Numero Giorni</label>
  <input type="number" ng-model="numerogiorni" id="numerogiorni" class="form-control">
</div>

<div class="row">
  <label for="otp">One Time Password</label>
  <input type="password" ng-model="otp" id="otp" class="form-control">
</div>
