<div>
    <h2>IN QUESTA PAGINA APPAIONO SOLO LE MEMBERSHIP DIRETTE (le tuple della tabella)</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="membership.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                            translate="sprintApp.membership.home.createLabel">Create new Membership
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="grouprole"><span translate="sprintApp.membership.grouprole">Grouprole</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="cnrgroup.displayName"><span translate="sprintApp.membership.cnrgroup">cnrgroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="user.login"><span translate="sprintApp.membership.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="membership in memberships track by membership.id">
                <td><a ui-sref="membership.detail({id:membership.id})">{{membership.id}}</a></td>
                <td>{{membership.grouprole}}</td>
                <td>
                    {{membership.cnrgroup.displayName}}
                </td>
                <td>
                    {{membership.user.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="membership.detail({id:membership.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="membership.delete({id:membership.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
