<div class="row vertical-align-center well" ng-class="{'row-slim': !advanced}" ng-repeat="task in tasks">
    <div class="col-md-9">
        <strong>{{task.variabili.title}}</strong> <br>
        Flusso avviato da <em>{{task.variabili.initiator}}</em> il <em>{{task.variabili.startDate | date}}</em>

        <span ng-bind-html="task.priority | priority"></span>
        <div ng-show="task.variabili.titoloIstanzaFlusso">
            <strong>Titolo:</strong> {{task.variabili.titoloIstanzaFlusso}} <br>
        </div>
        <div ng-show="task.name">
            <strong>Fase:</strong> {{task.name}}</span> <br>
        </div>

        <div ng-show="task.variabili.sceltaUtente">
            <strong>Scelta utente:</strong> {{task.variabili.sceltaUtente}} <br>
        </div>
        <div ng-show="task.endTime">
            <strong>Task completato il </strong>{{task.endTime | date}}
        </div>
        <div ng-show="advanced">
            <ng-include src="task.searchView"/>
        </div>
    </div>

    <div class="col-md-3 pull-right" ng-show="!completed">
        <div class="btn-group-vertical btn-block" role="group">
            <a class="btn btn-primary" ng-class="{'btn-xs': !advanced}"
               ui-sref="details({processInstanceId: task.processInstanceId, taskId: task.id})">
                <span class="glyphicon glyphicon-th-list"></span> Dettagli Flusso
            </a>
            <a class="btn btn-default" ng-class="{'btn-xs': !advanced}" ng-if="task.assignee !== null&&actionButtons"
               ng-click="claimTask(task.id, false)">
                <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> Restituisci al gruppo
            </a>
            <a class="btn btn-default" ng-class="{'btn-xs': !advanced}" ng-if="task.assignee === null&&actionButtons"
               ng-click="claimTask(task.id, true)">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Prendi in carico
            </a>
        </div>
    </div>
</div>
<div class="loading-spiner-holder" style="text-align: center" data-loading>
    <div class="loading-spiner spinner-loader"></div>
</div>

<span ng-show="tasks.length == 0">nessun Task</span>