<div class="row vertical-align-center well" ng-class="{'row-slim': !advanced}" ng-repeat="task in tasks">
    <div class="col-md-9">
        <strong>Flusso avviato da</strong>
        <em>{{task.name | get: 'initiator'}}</em>
        <strong>il</strong>
        <em>{{task.startTime | data}}</em> <br>
        <span ng-bind-html="task.priority | priority"></span>
        <strong>Titolo:</strong> {{task.name | get: 'titolo'}}<br>
        <strong>Stato:</strong> {{task.name | get: 'stato'}}</span> <br>
        <div ng-show="advanced">
            <ng-include src="task.searchView"/>
        </div>
    </div>

    <div class="col-md-3 pull-right">
        <div class="btn-group-vertical btn-block" role="group">
            <!--uso il campo completati impropriamente per non far apparire il bottone con le azioni della pagina dei dettagli-->
            <a ng-show="{{completed}}" class="btn btn-primary" ng-class="{'btn-xs': !advanced}"
               ui-sref="details({processInstanceId: task.id})">
                <span class="glyphicon glyphicon-th-list"></span> Dettagli Flusso
            </a>
            <!--todo: da sistemare-->
            <a ng-show="{{!completed}}" class="btn btn-primary" ng-class="{'btn-xs': !advanced}"
               ui-sref="details({processInstanceId: task.id, taskId: task.id})">
                <span class="glyphicon glyphicon-th-list"></span> Dettagli Flusso
            </a>
            <a class="btn btn-default" ng-class="{'btn-xs': !advanced}"
               ng-if="actionButtons && task.assignee !== null && task.variabili.isReleasable"
               ng-click="claimTask(task.id, false)">
                <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> Restituisci al gruppo
            </a>
            <a class="btn btn-default" ng-class="{'btn-xs': !advanced}" ng-if="actionButtons && task.assignee === null"
               ng-click="claimTask(task.id, true)">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Prendi in carico
            </a>
        </div>
    </div>
</div>
<div class="loading-spiner-holder" style="text-align: center" data-loading>
    <div class="loading-spiner spinner-loader"></div>
</div>

<span ng-show="tasks.length == 0">nessun Compito</span>