<div ng-show="processes" class="margin-bottom-helper tasks">
    <div class="row vertical-align-center well" ng-repeat="process in processes">
        <div class="col-md-10 col-sm-10">
            <a ng-href="#/details?processInstanceId={{process.id}}">
                <small class="label"
                       ng-class="{'label-info' : process.endTime, 'label-primary' : !process.endTime}">
                    {{process.variabili.wfcnr_wfCounterId}}
                </small>
                <br>
            </a>
            <div>
                <ul class="list-unstyled">
                    <li>
                        <h4>Titolo: {{process.variabili.bpm_workflowDescription}}</h4>
                    </li>
                    <li>
                        <h4>Descrizione: {{process.variabili.bpm_description}}</h4>
                    </li>
                    <li>
                        <h4>Stato: {{process.variabili.bpm_status}}</h4>
                    </li>
                    <li>
                        Avviato il <strong>{{process.startTime | dataora}}</strong> da <strong> {{process.startUserId}} </strong>
                    </li>
                    <ng-include src="'api/views/' + process.processDefinitionId.split(':')[0] + '/' + process.processDefinitionId.split(':')[1] + '/search'" />
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 text-right vertical-align-center">
            <div class="btn-group" role="group" aria-label="Left Align">
                <a class="btn btn-default btn-sm" ng-href="#/archivedetails?processInstanceId={{process.id}}">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> dettagli
                </a>
            </div>
        </div>
    </div>
</div>
<div class="loading-spiner-holder" style="text-align: center" data-loading>
    <div class="loading-spiner spinner-loader"></div>
</div>
<div ng-show="paging" style="text-align: center">
    <paginator paging="paging"></paginator>
</div>
<span ng-show="processes.length == 0">nessun Flusso</span>
