<style>
  .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: darkorange;
  }

  .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
</style>

<input type="text"
    ng-model="ngModel"
    ng-required="ngRequired"
    placeholder="Digita il nome utente per avviare la ricerca"
    uib-typeahead="user for user in loadUsers($viewValue)"
    typeahead-loading="loadingLocations"
    typeahead-no-results="noResults"
    typeahead-editable=false
    typeahead-min-length=3
    typeahead-popup-template-url="app/inputs/userinput/userinput.popup.html"
    class="form-control">
<span ng-if="hasMore">!!!</span>
