<div ng-cloak>
    <div class="row form-group">
        <div class="col-md-12">
            <uib-tabset active="1" justified="true" type="pills">
                <uib-tab index="0" select="setActiveContent('myTasks')">
                    <uib-tab-heading>
                        <h3>
                            <i class="glyphicon glyphicon-inbox"></i>
                            Compiti assegnati a me: {{vm.myTasks.total}}
                        </h3>
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab index="1" classes="available" select="setActiveContent('availables')">
                    <uib-tab-heading>
                        <h3>
                            <i class="glyphicon glyphicon-user"></i>
                            Compiti di gruppo <br> da prendere in carico: {{vm.availableTasks.total}}
                        </h3>
                    </uib-tab-heading>
                </uib-tab>
                </uib-tab>
                <uib-tab index="2" classes="available" select="setActiveContent('taskAssignedInMyGroups')">
                    <uib-tab-heading>
                        <h3>
                            <i class="glyphicon glyphicon-tasks"></i>
                            Compiti di gruppo presi <br> in carico da altri: {{vm.taskAssignedInMyGroups.total}}
                        </h3>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <uib-progress animate="false">
                    <uib-bar class="progress-bar-striped"
                             value="100* vm.myTasks.total/(vm.availableTasks.total+ vm.myTasks.total)" type="primary">
                        <span>{{vm.myTasks.total}}</span>
                    </uib-bar>
                    <uib-bar class="progress-bar-striped"
                             value="100* vm.availableTasks.total/(vm.availableTasks.total+ vm.myTasks.total)"
                             type="info">
                        <span>{{vm.availableTasks.total}}</span>
                    </uib-bar>
                </uib-progress>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <h4>Ordinamento temporale</h4>
                <div>
                    <button class="btn btn-default btn-block margin-top-20"
                            ng-click="vm.order ===  'ASC' ?  vm.order='DESC' : vm.order = 'ASC'">
                        <span class="glyphicon glyphicon-sort"></span>
                        {{vm.order === 'ASC' ? 'Crescente' : 'Descrescente'}}
                    </button>
                </div>
            </div>
            <br>
            <br>
            <h4>Tipologie</h4>
            <div id="tipologieDiv">
                <div>
                    <div class="dropdown md-menu-origin">
                        <ui-select ng-model="vm.searchParams.processDefinitionKey" title="Tipologie"
                                   on-select="loadMyTasks()">
                            <ui-select-match placeholder="Seleziona la tipologia di flusso" allow-clear="true">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="processDefinition.key as processDefinition in wfDefsAll">
                                <span ng-bind-html="processDefinition.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ng-scope" style="">
                <strong class="ng-binding">Parole Chiavi nel Titolo</strong>
                <div>
                    <input type="text" id="searchField-oggetto" class="form-control">
                </div>
            </div>
            <div class="ng-scope" style="">
                <strong class="ng-binding">Parole Chiavi nella Fase</strong>
                <div>
                    <input id="searchField-Fase" class="form-control">
                </div>
            </div>
            <div class="ng-scope" style="">
                <strong class="ng-binding">Utente che ha avviato il flusso</strong>
                <div>
                    <input id="searchField-initiator" type="textEqual" class="form-control">
                </div>
            </div>
            <br>
            <div>
                <ng-include id="searchFields" src="formUrl"></ng-include>
            </div>
            <br>
            <div>
                <button ng-click="loadAvailableTasks()" class="btn btn-primary">Filtra</button>
            </div>
        </div>

        <div class="col-sm-9">
            <div ng-show="vm.activeContent == 'myTasks'">
                <h3>
              <span class="label label-primary" class="assegnatiAMe">
                <i class="glyphicon glyphicon-inbox"></i>
                Lista dei compiti assegnati a me
              </span>
                </h3>
                <task-list tasks="vm.myTasks.data"
                           action-buttons="true"
                           completed="false">
                </task-list>

                <!--paginazione myTasks-->
                <div class="text-center">
                    <jhi-item-count page="vm.myPage" total="vm.myQueryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.myTotalItems" ng-model="vm.myPage"
                                    ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>

            <div ng-show="vm.activeContent == 'availables'">
                <h3>
              <span class="label label-info" ng-class="label-info">
                <i class="glyphicon glyphicon-user"></i>
                Lista dei compiti di gruppo da prendere in carico
              </span>
                </h3>
                <task-list tasks="vm.availableTasks.data"
                           action-buttons="true"
                           completed="false">
                </task-list>

                <!--paginazione availabletasks-->
                <div class="text-center">
                    <jhi-item-count page="vm.availablePage" total="vm.availableQueryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.availableTotalItems"
                                    ng-model="vm.availablePage"
                                    ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>

            <div ng-show="vm.activeContent == 'taskAssignedInMyGroups'">
                <h3>
              <span class="label label-info" ng-class="label-info">
                <i class="glyphicon glyphicon-user"></i>
                Lista dei compiti di gruppo presi in carico da altri
              </span>
                </h3>
                <task-list tasks="vm.taskAssignedInMyGroups.data"
                           completed="false">
                </task-list>

                <!--paginazione availabletasks-->
                <div class="text-center">
                    <jhi-item-count page="vm.TAIMGPage" total="vm.TAIMGQueryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.TAIMGTotalItems" ng-model="vm.TAIMGPage"
                                    ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>

        </div>

    </div>
    <pre ng-if="global.ribbon.dev">{{tasks | json}}</pre>
    <pre ng-if="global.ribbon.dev">{{vm | json}}</pre>
</div>