<div ng-cloak>

  <div class="row text-center">
    <h3>{{vm.data.entity.processDefinitionKey}} ({{vm.data.entity.processDefinitionId}})</h3>
    <p class="text-muted">{{vm.definition.description}}</p>
    <img class="img-bordered" ng-src='/rest/diagram/processInstance/{{vm.data.entity.id}}' title="{{vm.data.entity.processDefinitionKey}}" style="max-width: 100%" />
  </div>


  <div class="col-md-7">

    <h4>{{vm.data.entity.title}} ({{vm.data.entity.id}})</h4>

    <span ng-class="{'label-warning': !vm.data.entity.completed , 'label-success': vm.data.entity.completed }" class="label">{{!vm.data.entity.completed ? 'attivo' : 'completato'}}</span>
    <b>Titolo</b>
    : {{vm.data.entity.title}}
    <b>Avviato da:</b>
    {{vm.data.entity.initiator}} il {{vm.data.entity.startDate | date}}
    <span ng-hide="!vm.data.entity.completed">
      <b>completato il:</b>
      {{vm.data.entity.endDate | date}}
    </span>
    <span ng-show="!vm.data.entity.completed">
      <!--<b>Percentuale di completamento: </b> {{activeTask.properties.bpm_percentComplete}}&#37;-->
      <br>
      <b>Fase: </b>
      {{vm.data.entity.activityId}}
    </span>


    <h4>Documenti</h4>
    <attachments process-instance-id="49"></attachments>


  </div>

  <button class="btn btn-default" ng-click="chronology = true" ng-hide="chronology">Visualizza Cronologia</button>
  <div ng-if="chronology" class="col-md-4 ng-scope">
    <history tasks="vm.data.history" />
  </div>

</div>
<div class="col-md-10">
  <pre>{{scope | json}}</pre>
  <pre>{{vm | json}}</pre>
</div>
