<div ng-cloak>
    <div class="row" ng-hide="idHelpdesk">
        <div class="col-md-10 col-md-offset-1">
            <div class="title">
                <p class="lead" translate="helpdesk.title">HELPDESK</p>
            </div>
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <div translate="helpdesk.form.avviso"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form novalidate class="flows-form" name="helpdeskForm" ng-submit="submitHelpdesk()">
                <cnr-tree string-list="categorie"
                          label="Tipologia Segnalazione Helpdesk"
                          ng-model="$parent.vm.hdDataModel"
                          ng-modelid="id"
                          required autofill>
                </cnr-tree>
                <div class="form-group" ng-hide="idHelpdesk">
                    <label for="emailObject" translate="helpdesk.form.oggetto">Object</label>
                    <input type="text" class="form-control" id="emailObject" ng-required="true" ng-model="helpdeskModel.titolo" placeholder="{{'helpdesk.form.oggetto' | translate}}" />
                </div>
                <div class="form-group" ng-hide="idHelpdesk">
                    <label for="emailMessage" translate="helpdesk.form.messaggio">Message</label>
                    <textarea class="form-control" id="emailMessage" ng-model="helpdeskModel.descrizione" placeholder="{{'helpdesk.form.messaggio' | translate}}" rows="5" ng-required="true" ></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="sendMail" translate="helpdesk.form.invia">Send</button>
            </form>
        </div>
    </div>
</div>
