<div>
    <div class="dropdown md-menu-origin">
        <ui-select ng-model="$root.current" title="Tipologie">
            <ui-select-match placeholder="Seleziona la tipologia di flusso" allow-clear="true">
                {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="processDefinition in processDefinitions">
                <span ng-bind-html="processDefinition.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <br>
    <div>
        <ng-include id="searchFields" src="formUrl"></ng-include>
    </div>
</div>