<div ng-cloak>

    <!-- intestazione -->
  <div class="row text-center" ng-if="vm.taskId">
    <h3>{{vm.definition.name}}</h3>
    <p class="text-muted">{{vm.definition.description}}</p>

    <div class="col-xs-4">
      Metadati
      <ul class="list-unstyled">
        <li><strong>{{vm.taskVariables.title}}</strong></li>
        <li><strong>{{vm.taskVariables.titolo}}</strong></li>
        <li>Avviato il <strong>{{vm.taskVariables.startDate | data}}</strong> da <strong>{{vm.taskVariables.initiator}}</strong></li>
        <li>Fase: <strong>{{vm.taskVariables.activityId}}</strong></li>
          <ng-include src="vm.detailsView"/>
      </ul>
    </div>

    <div class="col-xs-4">
      Documenti
        <attachments task-id="{{vm.taskId}}"
                     attachments="{{vm.attachments}}" show-history="false"/>
    </div>

    <div class="col-xs-4">
      Diagramma
      <a ng-click="openDiagramModal(vm.diagramUrl)">
          <img class="img-bordered" ng-src="{{vm.diagramUrl}}" title="{{vm.definition.name}}" style="max-width: 100%"/>
      </a>
    </div>
  </div>

  <div class="row text-center" ng-if="!vm.taskId">
    <!-- intestazione -->
    <h3>{{vm.definition.name}}</h3>
    <p class="text-muted">{{vm.definition.description}}</p>
    <img class="img-bordered" ng-src='{{vm.diagramUrl}}' title="{{vm.definition.name}}" style="max-width: 100%" />
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form novalidate class="flows-form" name="taskForm" ng-submit="submitTask(picFile)">
        <input type="hidden" name="taskId" value="{{vm.data.taskId}}" />
        <input type="hidden" name="processDefinitionId" value="{{vm.data.processDefinitionId}}" />

        <ng-include src="vm.formUrl" onload="autofill()" ></ng-include>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button class="btn btn-primary" type="button" back><span class="glyphicon glyphicon-arrow-left"></span> Ritorna</button>
              </div>
                <!--               <div class="btn-group" role="group"> -->
                <!--                 <button class="btn btn-primary" type="reset"><span class="glyphicon glyphicon-refresh"> Reimposta</button> -->
                <!--               </div> -->
              <div class="btn-group" role="group">
                <button class="btn btn-primary" type="submit" ng-class="{'btn-warning': taskForm.$invalid}">{{ vm.taskId ? "Invia" : "Avvia Flusso"}} <span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
    <!--   <pre>{{taskForm | json}}</pre> -->
  <pre ng-if="development">{{vm | json}}</pre>
</div>
