<div ng-cloak>

  <div class="row text-center">
    <!-- intestazione -->
    <h3>{{vm.definition.name}}</h3>
    <p class="text-muted">{{vm.definition.description}}</p>
    <img class="img-bordered" ng-src='/rest/diagram/{{vm.definition.id}}' title="{{vm.definition.name}}" style="max-width: 100%" />
  </div>

  <!-- /rest/processinstances/start/{processName} or start-hire-process -->
  <form class="flows-form" name="taskForm">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ng-include src="vm.formUrl" ng-model="vm.data"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <button class="btn btn-primary btn-block" type="reset">Reimposta</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" type="submit" ng-click="submitTask()">Avvia Flusso</button>
      </div>
    </div>
  </form>

  <hr>
  <pre>{{scope | json}}</pre>
  <pre>{{vm | json}}</pre>
</div>
