<div ng-cloak>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Benvenuti</h1>
            <p class="lead" >Benvenuti nella Scrivania Digitale CNR</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>
                <div ng-switch-when="false" ng-if="app == 'cnr'">
                    Per autenticarsi usare il menu' "Utente" usando le credenziali Siper.
                </div>
                <div ng-switch-when="false" ng-if="app !== 'cnr'">
                    Per autenticarsi usare il menu' "Utente" usando le credenziali dell'applicazione.
                </div>

                <div ng-if="app === 'showcase'">
                    <hr>
                    <p>Questa versione "Showcase" della Scrivania Digitale contiene un semplice flusso di Richiesta Permessi/Ferie per illustrare le funzionalità del sistema
                    <p>Sono presenti i seguenti utenti:
                    <ul>
                        <li>utente1:utente1 che, come dipendente può fare una richiesta di ferie attraverso una form apposita</li>
                        <li>utente2:utente2 e utente3:utente3 che, come segreteria, rivedono e inoltrano la richiesta al direttore</li>
                        <li>direttore:utente4 che approva la richiesta</li>
                        <li>admin:admin che non ha funzioni nel flusso, ma può eseguire azioni speciali nel sistema</li>
                    </ul>
                    <p>In particolare gli utenti del gruppo Segreteria possono entrambi eseguire il compito di inoltrare la richiesta. Se uno di loro decide di prenderlo in carico,
                        l'altro non potrà eseguirlo, ma lo potrà visionare nella scheda "Compiti di gruppo in carico ad altri".
                    <p>Quando la richiesta passa al direttore (o all'utente1 che ha avviato il flusso), il compito è assegnato direttamente a quell'utente
                    <p>Nella schermata dei dettagli del flusso è possibile visionare tutti i metadati del flusso (compresi i documenti allegati) e
                        la loro storia, ed esportarne un docuemento di sintesi in formato pdf.
                    <p>Nella schermata della ricerca è possibile ricercare i flussi avviati e terminati, anche per chiavi di ricerca (definite per tipo di flusso).
                    <hr>
                    <p>In questa versione della Scrivania Digitale le notifiche email sono disabilitate.
                </div>

                <div ng-show="vm.avvisi.length > 0">
                    <h2>Avvisi</h2>
                    <div class="alert alert-warning" ng-repeat="avviso in vm.avvisi">{{avviso.contenuto}}</div>
                </div>

                <div class="row" ng-switch-when="true" ng-if="app == 'cnr'">
                    <div class="col-md-6 well">
                        <div>
                            <a class="btn btn-primary btn-block" style="margin: 10px;" href="https://scrivaniadigitale.cnr.it">Cliccare qui per autenticarsi con la<br/>versione precedente della Scrivania Digitale</a>
                        </div>
                        <div>
                            Nella <strong>versione precedente</strong> della Scrivania Digitale sono presenti i seguenti compiti:
                        </div>
                        <div class="workflow-definition workflow-definition-0">
                            <div class="workflow-definition-description">
                                Flusso Approvvigionamenti IT: {{vm.coolTasks.flussoApprovvigionamentiIT}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-1">
                            <div class="workflow-definition-description">
                                Flusso Attestati: {{vm.coolTasks.flussoAttestati}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-2">
                            <div class="workflow-definition-description">
                                Flusso Determine Acquisti: {{vm.coolTasks.flussoDetermineAcquisti}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-3">
                            <div class="workflow-definition-description">
                                Flusso Missioni Ordine: {{vm.coolTasks.flussoMissioniOrdine}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-4">
                            <div class="workflow-definition-description">
                                Flusso Missioni Revoca: {{vm.coolTasks.flussoMissioniRevoca}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-5">
                            <div class="workflow-definition-description">
                                Flusso Missioni Rimborso: {{vm.coolTasks.flussoMissioniRimborso}}
                            </div>
                        </div>
                        <div class="workflow-definition workflow-definition-6">
                            <div class="workflow-definition-description">
                                Flusso Relazioni CDA: {{vm.coolTasks.flussoRelazioniCDA}}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 well">
                        <div>
                            <a class="btn btn-primary btn-block" style="margin: 10px" ui-sref="availableTasks">Cliccare qui per visualizzare i compiti sulla<br/>versione attuale della Scrivania Digitale</a>
                        </div>
                        <div>
                            Nella <strong>versione attuale</strong> della Scrivania Digitale sono presenti i seguenti compiti:
                        </div>
                        <div class="workflow-definition workflow-definition-2">
                            <div class="workflow-definition-description">
                                Flusso Acquisti: {{vm.coolTasks.acquisti}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
