body {
    background: #ddd;
    font-family: "Helvetica Neue", Helvetica, "Open Sans", "Droid Sans", "Roboto", "Segoe", "Arial", sans-serif;
    color: #222;
}

.browsehappy {
  color: #900;
  display: none;
  text-align: center;
  margin-top: 30px;
}

.container {
	background-color: #fff;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.55),0 1px 15px rgba(0,0,0,.25);
}

.maincontent {
  margin: 15px;
}

.footer {
  color: #777;
  text-align: center;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}
/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.alerts .toast.left {
    left: 10px;
}

.alerts .toast.right {
    right: 10px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 500px;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}



.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}



/* jhipster-needle-css-add-main JHipster will add new css style */

.img-bordered {
  box-shadow: 4px 4px 13px 2px rgba(0, 0, 0, 0.5)
}

input.ng-touched.ng-invalid,
button.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
div.ng-touched.ng-invalid,
cnr-tree.ng-touched.ng-invalid > .jstree-bootstrap,
select.ng-touched.ng-invalid,
wysiwyg.ng-touched.ng-invalid > trix-editor {
  border: solid 1px red;
}

.tasks .row {
    border-bottom: 1px solid #f8f8f8;
    box-shadow: 0 10px 35px -23px rgba(0, 0, 0, 0.35);
    padding-bottom: 20px;
    padding-top: 20px;
}

.task-history {
  border-top: 2px solid #EEE;
  padding-bottom: 10px;
}

.nav-pills > li.active-info > a,
.nav-pills > li.active-info > a:hover,
.nav-pills > li.active-info > a:focus {
  color: #fff;
  background-color: #5bc0de!important;
}

/*I MIEI COMPITI*/
.myTasks,
.myTasks:hover,
/*bordino e passaggio del muose dei bottono "dettagli"*/
.nav-pills > li.mine.active > a,
.nav-pills > li.mine.active > a:hover,
.nav-pills > li.mine.active > a:focus,
/*Paginazione*/
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(1) > div:nth-child(4) > ul > li.pagination-page.active > a,
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(1) > div:nth-child(2) > ul > li.pagination-page.active > a{
    background-color: #508971;
    border-color: #508971;
    color: #fff;
}

/*COMPITI DEI MEMBRI DEI MIEI GRUPPI*/
.availables,
.availables:hover,
/*bordino e passaggio del muose dei bottono "dettagli"*/
.nav-pills > li.available.active > a,
.nav-pills > li.available.active > a:hover,
.nav-pills > li.available.active > a:focus,
/*Paginazione*/
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(2) > div:nth-child(2) > ul > li.pagination-page.active > a,
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(2) > div:nth-child(4) > ul > li.pagination-page.active > a {
    background-color: #9DBBA1;
    border-color: #9DBBA1;
    color: #fff;
}

/*COMPITI PRESI IN CARICO DA ALTRI DEI MIEI GRUPPI*/
.taskAssignedInMyGroups,
.taskAssignedInMyGroups:hover,
/*bordino e passaggio del muose dei bottono "dettagli"*/
.nav-pills > li.others.active > a,
.nav-pills > li.others.active > a:hover,
.nav-pills > li.others.active > a:focus,
/*Paginazione*/
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(3) > div:nth-child(4) > ul > li.pagination-page.active > a,
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-sm-9 > div:nth-child(3) > div:nth-child(2) > ul > li.pagination-page.active > a {
    background-color: #1D6422;
    border-color: #1D6422;
    color: #fff;
}

/*classe usata nel bottone dei "dettagli" e nelle tab della pagina "ricerca"*/
.piActive,
.piActive:hover,
/*bordino e passaggio del muose dei bottono "dettagli"*/
.nav-pills > li.piActive.active > a,
.nav-pills > li.piActive.active > a:focus,
/*Paginazione*/
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-md-9 > div:nth-child(2) > div:nth-child(1) > ul > li.pagination-page.active > a,
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-md-9 > div:nth-child(4) > div > div:nth-child(1) > ul > li.pagination-page.active > a {
    background-color: #38604B;
    border-color: #38604B;
    color: #fff;
}

/*classe usata nel bottone dei "dettagli" e nelle tab della pagina "ricerca"*/
.piTerminated,
.piTerminated:hover,
/*bordino e passaggio del muose dei bottono "dettagli"*/
.nav-pills > li.piTerminated.active > a,
.nav-pills > li.piTerminated.active > a:focus,
/*Paginazione*/
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-md-9 > div:nth-child(2) > div:nth-child(2) > ul > li.pagination-page.active > a,
body > div.container > div.maincontent > div > div:nth-child(2) > div.col-md-9 > div:nth-child(4) > div > div:nth-child(2) > ul > li.pagination-page.active > a {
    background-color: #65A592;
    border-color: #65A592;
    color: #fff;
}

.nav-pills{
    display: flex;
}
.nav-pills li {
    display: flex;
    flex: 1;
}

.nav-pills li  a {
    flex: 1;
}

.banner {
  height: 250px;
}

.cnr-banner {
    background: url("../images/cnr-flows-banner.png") center no-repeat;
    background-size: contain;
}

.oiv-banner {
    background: url("../images/oiv-flows-banner.png") center no-repeat;
    background-size: contain;
}

.showcase-banner {
    background: url("../images/showcase-flows-banner.png") center no-repeat;
    background-size: contain;
}

.none-banner {
    background: url("../images/none-flows-banner.png") center no-repeat;
    background-size: contain;
}

/* CSS per editor ACE */
.ace_editor {
  height: 200px;
}

/* big fat modal */
.modal-xl {
    width: 1150px;
}

.cnr-descrizione-task {
    border: 1px solid lightblue;
    padding: 15px;
    margin: 10px;
}

.cnr-descrizione-file {
     border: 1px solid gold;
     padding: 15px;
     margin: 10px;
 }


.alerts .alert {
  box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.75);
}

.alert-success {
  border-color: #b5c8a5;
}
.alert-danger {
  border-color: #d3b4b9;
}



.jstree-bootstrap{
  overflow: scroll;
  max-height: 334px;
  box-shadow: 0px 0px 5px #ccc;
}

.label-Pubblicato {
  background-color: #5cb85c;
}

.label-PubblicatoTrasparenza {
  background-color: #5cb85c;
}

.label-PubblicatoUrp {
  background-color: #ff8000;
}
/* START SPINNER */
@-moz-keyframes sprint-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sprint-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sprint-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.sprint-loader:not(:required) {
  -moz-animation: sprint-loader 1500ms infinite linear;
  -webkit-animation: sprint-loader 1500ms infinite linear;
  animation: sprint-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}
.sprint-loader-mini {
  font-size: 5px!important;
}
/* END SPINNER */


/* START workflow */
.workflow-definition {
  width: 100%;
  height: 50px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.workflow-definition-description {
  height:250px;
  padding: 10px;
}

.workflow-definition-action {
  height:50px;
  background:rgba(0,0,0,0.5);
  padding: 15px;
}

.workflow-definition-action a {
  color: rgba(255,255,255,.7);
  margin: 0 10px;
}

.workflow-definition-action a:hover {
  text-decoration: none;
  color: white;
}

.workflow-definition-0 {
  background-color: #651FFF;
  background-image: url('../images/icons/asterisk2.png');
}

.workflow-definition-1 {
  background-color: #00BCD4;
  background-image: url('../images/icons/bull1.png');
}

.workflow-definition-2 {
  background-color: #43A047;
  background-image: url('../images/icons/code11.png');
}

.workflow-definition-3 {
  background-color: #F9A825;
  background-image: url('../images/icons/comment32.png');
}

.workflow-definition-4 {
  background-color: #E53935;
  background-image: url('../images/icons/bell13.png');
}

.workflow-definition-5 {
  background-color: #7B1FA2;
  background-image: url('../images/icons/bullseye.png');
}

.workflow-definition-6 {
  background-color: #2196F3;
  background-image: url('../images/icons/cogs3.png');
}

.workflow-definition-7 {
  background-color: #8BC34A;
  background-image: url('../images/icons/lightning14.png');
}
.font-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}

/* END workflow */


.toggle-switch {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    min-width: 100px;
    border-radius: 5px;
}

/* fix per JsTree: i risultati della ricerca appaiono in verde */
.jstree-default .jstree-search {
    color: #0d6500;
}

.cnr-descrizione-task {
    border: 1px solid #132a0a;
    padding: 15px;
    margin: 10px;
}

@media screen and (max-width: 425px) {
    .label {
        white-space: normal;
    }
    .banner {
        display: none;
    }
}




/*TODO: BOTTONI*/



.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: black;
  background-color: #B8D9C0;
  border-color: #a7d0b1;
}
.btn-primary:focus,
.btn-primary.focus {
  color: black;
  background-color: #97c7a3;
  border-color: #56a269;
}
.btn-primary:hover {
  color: black;
  background-color: #97c7a3;
  border-color: #80bb8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #97c7a3;
  border-color: #80bb8e;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: black;
  background-color: #80bb8e;
  border-color: #56a269;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #B8D9C0;
  border-color: #a7d0b1;
}
.btn-primary .badge {
  color: #B8D9C0;
  background-color: black;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  color: #B8D9C0;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #86be94;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}































.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}