
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCnrgroupLabel" translate="sprintApp.cnrgroup.home.createOrEditLabel">Create or edit a Cnrgroup</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cnrgroup.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cnrgroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sprintApp.cnrgroup.name" for="field_name">Name---</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.cnrgroup.name"
                   required ng-pattern="/^[a-zA-Z0-9#]*[a-zA-Z0-9@-]*[a-zA-Z0-9]*$/"
                   ng-trim="false"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.pattern" translate="entity.validation.pattern"
                   translate-value-pattern="/^[a-zA-Z0-9#]*[a-zA-Z0-9@-_]*[a-zA-Z0-9]*$/" ng-trim="false">
                    This field should follow pattern "/^[a-zA-Z0-9#]*[a-zA-Z0-9@-_]*[a-zA-Z0-9]*$/".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="sprintApp.cnrgroup.displayName" for="field_displayName">Display Name</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                    ng-model="vm.cnrgroup.displayName"
                    required />
            <div ng-show="editForm.displayName.$invalid">
                <p class="help-block"
                    ng-show="editForm.displayName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group" id="parents">
            <label translate="sprintApp.cnrgroup.parents" for="field_parents">Parents</label>
            <br>

            <!--<input type="text" class="form-control" name="displayName" id="field_parent"-->
            <!--ng-model="vm.newParent"-->
            <!--required />-->
            <!--buono-->
            <label ng-repeat="group in vm.cnrgroups">
                <input type="checkbox"
                       class="parentsChecbox"
                       data-value="{{group}}"
                       ng-checked="vm.checked(group)"> {{group.displayName}}-- {{group.id}}
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
